.popup-ai-text{
    width: 400px;
    max-width: 95%;
    background-color:#fff;
    position:fixed;
    padding: 1rem;
    top: 0.5rem;
    min-height: 300px;
    right: calc( 60px + 1rem);
    border-radius: 1rem 0 1rem 1rem;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.popup-ai-text::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: fixed;
    right: 60px;
    top: 0.5rem;
    z-index: 99;
    border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  border-top-right-radius: 5px;

}
.popup-ai-text p{
    font-size: 1rem;
    color: #111;
}