<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/checkout/checkout.css">
</head>

<body>

    <div class="mainscreen">
        <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">-->
        <div class="card">
            <div class="leftside">
                <h1 id="logo">YouteeTech</h1>
                <p>Ao escolher o plano premium, você não só terá acesso a uma maneira inovadora de organizar seus
                    estudos, mas também estará contribuindo para tornar nossa ferramenta acessível a mais pessoas e
                    acelerar o lançamento de novas funcionalidades. Com recursos como trilhas públicas, espaço para
                    anotações, editor de código, extrator de texto, cronômetro com Pomodoro, transcrição instantânea de
                    vídeo e modo de tela cheia, você terá tudo o que precisa para aprimorar seus estudos. Agradecemos
                    por escolher a YouteeTech e por apoiar nossa missão de oferecer uma ferramenta de estudos completa e
                    acessível a todos.</p>

            </div>
            <div class="rightside">
                <!-- 
              <form action="/checkout" method="post">
                
                <h2>Informações de pagamento</h2>
                <p>Nome impresso no cartão</p>
                <input type="text" class="inputbox" name="name" required placeholder="Nome completo"/>
                <p>Número do cartão</p>
                <input type="number" class="inputbox" name="card_number" id="card_number" placeholder="Número do cartão" required />
    
            
    <div class="expcvv">
    
                <p class="expcvv_text">Expiração</p>
                <input type="date" class="inputbox" name="exp_date" placeholder="XX/XX/XXXX" id="exp_date" required />
    
                <p class="expcvv_text2">CVV</p>
                <input type="password" class="inputbox" placeholder="XXX" name="cvv" id="cvv" required />
            </div> -->
                <div class="explain">
                    <h3>Atenção! Atualmenta não é obrigatório assinar o plano premium para ter acesso a todas as
                        ferramentas, mas ao assinar voce apoia o desenvolvimento e ganha vantagens e atualizações
                        futuras</h3>
                    <ul class="list-checked">
                        <li>Trilhas públicas</li>
                        <li>Espaço de anotações</li>
                        <li>Modo foco</li>
                        <li>Cronômetro com pomodoro</li>
                        <li>Extrator de texto de imagens</li>
                        <li>Editor de códigos no espaço de anotações</li>
                        <li>Atualizações periódicas</li>
                    </ul>
                </div>
                <div class="microcard" id="box">
                    <label class="container">
                        <input type="checkbox" id="check">
                        <div class="checkmark"></div>
                    </label>
                    <div class="textBox">
                        <div class="textContent">
                            <p class="h1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                    <path
                                        d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                </svg> &nbsp Premium</p>
                            <span class="span">R$9,99 /30dias</span>
                        </div>
                        <p class="p">É necessario marcar esta opção para prosseguir</p>
                        <div>
                        </div>
                    </div>
                </div>
                <p></p>
                <a href="/initiate-checkout" class="button" id="checkout">Ir para pagamento</a>
                
            </div>
        </div>
    </div>
<script src="/js/checkout/checkout.js"></script>

</body>

</html>