<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado pela sua inscrição</title>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5754GXM');</script>
<!-- End Google Tag Manager -->
    <style>
        body,html{
            height: 100%;
        }
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .conteiner{
            width:800px;
            max-width:90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #f4f4f4;
            padding: 2rem;
            gap: 2rem;
        }
        h1{
            font-size:8rem;
            color:#09f;
        }
        svg{
            color:#0f9;
            fill:#0f9;
            width: 90px;
            height: 90px;
            font-size: 90px;
        }
        a{
            width: 60%;
            background-color: #09f;
            border-radius:5px;
            padding: 1rem;
            color:#fff;
            text-align: center;
            text-decoration: none;
    
        }
    </style>
</head>
<body>
     <!-- Google Tag Manager (noscript) -->
     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5754GXM" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="conteiner">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg>
        <h1>Obrigado!</h1>
        <p>Agora voce é oficialmente um assinante premium</p>
        <a href="/">Seguir para a plataforma</a>

    </div>
</body>
</html>