


.workspace{
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 60px;
    padding: 10px;
    gap: 10px;

}


#workflow{
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    color:#fff;
    border: none;
    font-size: 13px;
}
#workflow:focus{
    border: none;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: none;
    outline-color: rgba(0,255,255,0.4);
    outline-style: solid;
    margin: 3px;
}
.workflow-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px ;
}
.workflow-options button{
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.workflow-options button:hover{
    background: rgba(0,255,255,0.2);
}
.hidden{
    display:none;
}