.container {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.row-wrap{
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.card{
    width: 240px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient( rgb(0, 49, 82), #003);
    padding: 10px;
    margin:10px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 15px;

}
.card-hero{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-hero h1{
    font-size: .9rem;
}
.card-hero svg{
    height: 60%;
    max-height: 100px;
}
.card p{
    width: 100%;
    padding: 10px;
    color:#fff;
    font-size: 15px;
    text-align: left;
    scroll-behavior: smooth;
    overflow: scroll;
    text-overflow: ellipsis;
    height: auto;
    
}
.card p::-webkit-scrollbar{
    width: 0;
}
.card button{
    border: none;
    color:#fff;
    background-color: #02f;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}