<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <style>
        body {
            background: radial-gradient(circle at 50% 5%, rgb(0, 89, 124), rgb(0, 0, 14));
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .conteiner{
            width: 800px;
            max-width: 85%;
            height: 500px;
            max-height: 60%;
            backdrop-filter: blur(16px) ;
            -webkit-backdrop-filter: blur(16px) ;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0;
        }
        h1{
            font-size: 8rem;
            color: #09f;
        }
        h2{
            font-size: 3vw;
            color: #fff;
            max-width: 90%;
            text-align: center;
        }
        a{
            background-color: #09f;
            color:#fff;
            text-decoration: none;
            text-align: center;
            padding: 10px 25px;
            font-size: 24px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="conteiner"><h1>404</h1><h2>Página não encontrada</h2><a href="/dashboard">Home</a></div>
</body>

</html>