<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel inicial</title>
    <link rel="shortcut icon" href="/assets/faviconpng.png">

    
</head>
<body>
  
  <div class="">
    <div class="">
      
      <!-- Caixa 1 -->
      <div class="">
        <div class="">
          <img src="https://via.placeholder.com/300x200" class="" alt="Thumbnail do vídeo">
          <div class="">
            <h5 class="">Nome do Vídeo</h5>
            <p class="">Nome do Canal</p>
            <button class="">Assistir</button>
            <button class="" href="/painel">Painel</button>
            <button class="">Excluir</button>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>  
</body>
</html>
