<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novidades da versão</title>
    <link rel="shortcut icon" href="/assets/faviconpng.png">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5754GXM');</script>
    <!-- End Google Tag Manager -->
    <style>
        body{
            padding: 0 200px;
        }
        .conteiner {
            height: 100%;
            text-align: left;
        }

        h1 {
            font-size: 90px;
            width: 100%;
            text-align: center;
        }
        summary{
            margin: 15px 0;
        }
        b{
            margin: 0 0 10px 0;
            padding: 0 30px;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5754GXM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="conteiner">
        <h1>Novidades</h1>
        <details>
            <summary>Versão 1.0.4</summary>
            <b>Nova funcionalidade adicionada - Pomodoro, clique no botão com desenho de relogio abaixo do vídeo para carregar o timer</b>
        
            
        </details>
        <details>
            <summary>Versão 1.1.0</summary>
            <b>Nova funcionalidade adicionada - Extração de texto de frames do vídeo, para usar a funcionalidade é só clicar no botão com ícone de câmera que fica abaixo do vídeo e as instruções vão aparecer.</b>
        
        </details>
        <br><br><br>
        <a href="/welcome">Voltar pra home</a>
    </div>
</body>

</html>